body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #e2e2e2, #c9d6ff);
  color: #333;
}

header {
  background-color: #512da8;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
}

main {
  padding: 2rem;
}

section {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #000;
}

ul {
  padding-left: 1.5rem;
}

ul li {
  margin-bottom: 0.5rem;
}

p,
ul li {
  font-size: 1rem;
  color: #555;
}

/* Thiết kế cho các đường link */
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
